.container{

    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 20px;
    width :500px;

}

.del_img{
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin-right: 20px;
    margin-bottom: 0px;

}

.check{
    width: 20px;
    height: 20px;
    margin-right: 20px;

}

.content{

    margin-bottom: 0px;
    max-width: 300px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
   
}

.content:hover {
    text-decoration: underline; /* hover 시에만 밑줄 추가 */
  }
.description{
    width: 270px;
    height: 30px;
    border-radius: 10px;
    margin-bottom: 20px;
}


.attach {
    display: inline;
    color: blue;
    font-size: 10px;
    position: relative;
    right: 0;  /* 원래는 70px 이었음 */
    top: 0;   /* 원래는 18px 이었음 */
}
