@font-face {
    font-family: 'hansuwon';
    src: url('./src/assets/hansuwon.ttf') format('truetype');
    font-weight:normal;
    font-style: normal;
  }
  
  body {
    font-family: 'hansuwon', sans-serif;
    display: flex;
    align-items: center;
   
  }