.invitePerson {
  position: relative;
  display: flex;
  top:-15px;
  height: 50px;
  width: 100%;
  margin: 0 10px;
  display: flex;
  justify-content: center; 
  align-items: center;
  border-radius: 10px;
  border: 1px solid black;
  background-color: #ffffff;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; // 컨테이너의 너비를 필요에 따라 조정하세요.
  

  .inviteCodeContainer {
    display: flex;
    align-items: center;
  }

  .buttonsContainer {
    display: flex;
    align-items: center;

    button {
      margin-left: 20px; // 버튼 사이의 간격을 조정하세요.
    }
  }
}
