.container {

display: flex;
width: 300px;
height: 300px;
justify-content: space-between;

}

.img_container
{
margin-right: 50px;


}

.img {
    border-radius: 50%;
    cursor: pointer; 
    width : 100px;
    height : 100px;
    border: 2px lightgray solid;
}

.profile_img{
    width: 100px;
    height: 100px;
}