.container {
    display: flex;
    align-items: center;
    gap: 25px; // 요소들 사이의 간격을 조정합니다.
  
    .title {
      font-weight: bold;
    }
  
    .option {
      display: flex;
      align-items: center;
      margin:0;
  
      input[type='radio'] {
        margin-right: 5px;
      }
    }
  
    .input {
      border: 1px solid #ccc;
      padding: 5px;
      margin-right: 5px;
      width: 30%;
    }
  
    .button {
      padding: 5px 15px;
      background-color: #4CAF50;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      margin: 0;
    }
  }
  .CameraImage{
    width: 35px;
    height: 35px;
    margin: 0;
  }
  